body
{
	/*background-color: #E3D7D7;*/
}
#frame
{
	padding:1px;
	/*filter:shadow(color:gray, strength:12, direction:135);*/
}
#timeline
{
	width: 100%;
}
#timeline td
{
	text-align: center;
}
#timeline .dest
{
	width: 10px;
	height: 10px;
	border: 2px solid black;
	background-color: #C0C0C0;
}
#timeline .cur
{
	width: 10px;
	height: 10px;
	border: 2px solid black;
	background-color: red;
}
#timeline hr
{
	height: 1px;
	border: 2px solid black;
	width: 100%;
	background-color: black;
}
.error
{
	color: red;
	font-weight: bold;
	margin-left: 4px;
	margin-bottom: 2px;
}

button
{
	border: 1px solid black;
}

.form_data
{
	font: 12pt verdana;
	color: gray;
}
#input_params
{
	/*width: 400px;
	padding: 22px;
	border: 2px solid black;
	background-color: #EBEBFF;
	margin-bottom: 8px;*/
	padding: 12px;
}
#input_params input
{
	width: 200px;
	text-align: left;
}
#input_params th
{
	color: brown;
	text-align: left;
	font-weight: bolder;
	font: 16pt verdana;
	background-color: #E3D7D7;
}
#input_params td
{
	text-align: left;
	font-weight: bold;
	font: 12pt verdana;
}
h2
{
	font: 18pt verdana;
	color: brown;
	font-weight: bolder;
}
input[type="button"], input[type="submit"]
{
	background-color: #8385D3;
	color: white;
	border: 2px outset black;
	width: 120px;
}
input[type="button"]:hover, input[type="submit"]:hover
{
	color: brown;
	border: 2px outset black;
	width: 120px;
}
/*div.inner
{
	margin: 0;
	background: #EBEBFF;
	padding: 10px;
	border:0;
	zoom:1;
}*/
div.outer
{
	float: center;
	margin: 15px;
	background: #E3D7D7;
	padding: 8px;
	width: 700px;
	/*border-right: 2px solid black;*/
}

.outer {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#000000');
}