	#frame {
		width:715px;
		padding:10px;
		filter:shadow(color:gray, strength:10, direction:135);
		}
		
	#page {
		margin-top:2px;
		padding-bottom:10px;
		background:#FFFFFF;
		border:1px ridge #000;
		text-align:left;
		width:715px;
		background-image: url(../../../_images/mrg_inside_08_full.jpg);
		/*min-height:225px;*/
		min-height: 500px;
		}
		
	#header{
		font-size:12pt;
		font-family: verdana;
		border-top:1px solid #000;
		border-bottom:1px solid #000;
		border-right:10px solid #000;
		border-left:10px solid #000;
		margin-top:10px;
		margin-bottom:10px;
		padding-left:10px;
		padding-right:10px;
		padding-top:1px;
		padding-bottom:1px;
		background-color: #AA4646;
		}
		
	#popupWnd {
		position: absolute;
		margin-left: 220px;
		top: 165px;
		border: 4px outset red;
		/*margin: 4px;*/
		background-color: #AA4646;
		color: black;
		font: bolder 12pt Verdana;
		/*width: 300px;*/
		visibility: hidden;
		z-index:100;
		/*height: 200px;*/
		cursor: hand;
		}
		
	#marquee {
		/*color: white;
		font-weight: bold;*/
		/*z-index:0;*/
		height: 14px;
		/*padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 4px;*/
		position: block;
		}
		
	span.marquee_body {
		color: white;
		font-weight: bold;
		font: 9pt verdana; 
		}
	
	#header table {
		height:82px;
		}
	
	#header img {
		/*height:62px;
		width:88px;*/
		cursor: hand;
		}

	#content {
		/*margin-top:1%;*/
		margin-left:25px;
		margin-right:25px;
		/*width:550px;*/
		/*float:right;*/
		/*margin-top: 330px;*/
		/*position: relative;*/
		}
	
	#bigimg
	{
		position: block;
		/*margin-top: -20px;*/
		/*z-index:-100;*/
		text-align: center;
		width: 100%;
	}
	
	#topimg
	{
		/*position: relative;*/
		/*float: left;*/
		/*margin-left:50px;*/
		width:655px;
		/*height:320px;*/
		/*margin-top: -35px;*/
	}

	#topimg2
	{
		/*position: relative;*/
		/*float: right;*/
		/*margin-left:50px;*/
		width:655px;
		/*height:320px;*/
		/*margin-top: -35px;*/
	}
	
	a{ color: #DC888C;; }
		
	#footer{
		font-size:10pt;
		font-family: verdana;
		border-top:1px solid #000;
		border-bottom:1px solid #000;
		border-right:10px solid #000;
		border-left:10px solid #000;
		margin-top:25px;
		padding-left:10px;
		padding-right:10px;
		padding-top:1px;
		padding-bottom:1px;
		color: white;
		background-color: #000000;
		float: bottom;
		text-align: left;
		}

	#menufooter  {
		margin-bottom:20px;
		}
		
	#subtitle  {
		font:italic normal bolder 14pt tahoma;
		color: navy;
		margin-left: 20px;
		}
		
	#menusitelinks {
		font-size:12px;
		}
	/*
	.menus {
		border-left:10px solid #000; 
		border-bottom:1px solid #000;
		border-top:1px solid #000;
		border-right:1px solid #000;
		background:#fff;
		color:#000;
		padding:2px;
		margin-bottom:10px;
		text-align:left;
		font-size:14px;
		font-family: verdana;
		cursor: pointer;
		}
	*/
		
	#menu {
		width:100%;
		position: absolute;
		padding:0px;
		margin-left:0px;
		margin-right:20px;
		margin-top:-10px;
		float:left;
		}
		
	#nav {
		/*width:120px;*/
		position: block;
		margin-top: -8px;
		margin-bottom: 4px;
		padding:1px;
		margin-left:5px;
		/*margin-right:20px;*/
		float:left;
		z-index:100;
		}
		
	#nav2{
		/*width:120px;*/
		position: block;
		margin-top: -8px;
		margin-bottom: 4px;
		padding:1px;
		margin-left:5px;
		/*margin-right:20px;*/
		float:left;
		z-index:100;
		}
		
	#nav3 {
		/*width:120px;*/
		position: relative;
		margin-top: 20px;
		padding:0px;
		margin-left:0px;
		margin-right:20px;
		float:left;
		/*z-index:100;*/
		}

	#giftcards {
		width:180px;
		/*left: 610px;*/
		position: block;
		/*margin-top: 45px;
		padding:0px;
		margin-left: 0px;
		margin-right:0px;
		float:left;
		z-index:100;*/
		}

/*
	#rightnav {
		width:120px;
		top: 125px;
		position: absolute;
		padding:0px;
		margin-left:-4px;
		margin-right:20px;
		left: 600px;
		float:right;
		}
*/
	html>body #menu {
		margin-left:-4px;
		}
		
	p,h1,h2 {
		font:10pt verdana;
		color: white;/*#202340;*/
		margin-top:0px;
		margin-bottom:10px;
		padding:0px 20px 0px 20px;
		}
		
	h2 {
		font-size:12pt;
		padding-top:0px;
		margin-bottom:0px;
		}
		
	span.emp {
		color: #202340;
		/*font-style: italic;*/
		font-weight: bolder;
		}

	body{
		background-color: #9D2C32;
		}
		
	body.elispage{
		/*background-color: #9D2C32;*/
		text-align : center;
		background-image: url(../../../_images/bg2.jpg);
		}
		
	a.sitelinksred { color:#c00; }
	a.sitelinksredorange { color:#f60; }
	a.sitelinksorange { color:#f90; }
	a.sitelinksyellow { color:#fc0; }
		
	a.anchor {
		font-size:10pt;
		font-weight:normal;
		}
		
	p.anchor {
		text-align:right;
		}
	
	.links {
		margin-left:50px;
		margin-right:30px;
		}
	
	#layouts {
		font-size:14px;
		margin-left:10px;
		font-family: verdana;
		}
		
	div.hashlink {
		font:10pt verdana;
		margin-left:10px;
		margin-right:10px;
		margin-top:10px;
		margin-bottom:10px;
	}
	
	div.heading1 {
		width:auto;
		font:13pt verdana;
		color: navy;
		margin-left:10px;
		margin-right:10px;
		margin-top:20px;
		margin-bottom:10px;
		font-weight: bold;
		}

	div.heading2 {
		width:auto;
		font:10pt verdana;
		/*color: navy;*/
		margin-left:16px;
		margin-right:10px;
		margin-top:20px;
		margin-bottom:10px;
		font-weight: bold;
		}

	div.tab1 {
		font:8pt verdana;
		color: navy;
		font-weight: bold;
		}

	.big_list {
		font: 10pt verdana;
		color: #202340;
		text-align: left;
		margin-left:50px;
		}
		
	span.title
	{
		font: 20pt verdana;
		color: #DC888C;
		text-align: center;
		/*padding: 20px;*/
	}
	
	span.heading
	{
		font: 16pt verdana;
		color: #DC888C;
		text-align: center;
	}
	
	span.heading2
	{
		font: 12pt verdana;
		color: #DC888C;
		text-align: center;
	}
	
	ul#body_content span
	{
		font: 11pt verdana;
		color: white;
	}
	
	img.link0
	{
		/*filter:alpha(opacity=95);*/
		background-color:#FFFFFF;
		height:80px;
		width:260px;
	}

	img.link1
	{
		/*filter:alpha(opacity=95);*/
		background-color:#FFFFFF;
		height:80px;
		width:260px;
	}
	
	table.award
	{
		border-top:1px solid #000;
		border-bottom:4px solid #000;
		border-right:4px solid #000;
		border-left:1px solid #000;
		background-color:#FFFFFF;
		text-align: center;
	}
	
	table.award td.awardtext
	{
		text-align: left;
		width: 250px;
		font-weight: bold;
	}

	#navbar span {
		opacity:0.85;
		filter:alpha(opacity=85);
		border:1px solid #690002;/*#DADADA;*/
		/*background-color:#EFEFEF;*/
		background-color: #690002;/*#AA4646;/*#DC888C;*/
		padding:1px 4px 1px 5px;
		margin-bottom:1px;
		margin-top:1px;
		margin-left: -4px;
		/*width:140px;*/
		list-style-type:none;
		font-family:Arial, Helvetica, sans-serif;
		color:white;
		font-size:0.8em;
		font-weight: bold;
		text-align: right;
	}

	#navbar span:hover {
		opacity:1.0;
		filter:alpha(opacity=100);
		color:white;
		background-color:#CF1720;
		cursor:pointer;
		font-weight: bold;
		text-align: right;
		color:yellow;
	}
	
	table#menubar td {
		opacity:0.85;
		filter:alpha(opacity=85);
		border:3px solid #DADADA;
		/*background-color:#EFEFEF;*/
		background-color:#DC888C;
		padding:3px 3px;
		margin-bottom:1px;
		margin-top:1px;
		margin-left: 0px;
		list-style-type:circle;
		font-family:Arial, Helvetica, sans-serif;
		color:white;
		font-size:0.8em;
		font-weight: bold;
		text-align: right;
		z-index: 1;
	}

	table#menubar td:hover {
		opacity:1.0;
		filter:alpha(opacity=100);
		color:white;
		background-color:#CF1720;
		cursor:pointer;
		font-weight: bold;
		text-align: right;
	}
	
	table#rpanel td#block {
		opacity:0.85;
		filter:alpha(opacity=85);
		border:3px solid #DADADA;
		/*background-color:#EFEFEF;*/
		background-color:#FFFFFF;
		padding:3px 3px;
		/*margin-bottom:1px;
		margin-top:1px;
		margin-left: 0px;*/
		list-style-type:circle;
		font-family:Arial, Helvetica, sans-serif;
		color:black;
		font-size:0.8em;
		font-weight: bold;
		text-align: center;
		z-index: 1;
	}
/*
	table#rpanel td:hover {
		opacity:0.4;
		filter:alpha(opacity=100);
		color:white;
		background-color:#CF1720;
		cursor:hand;
		font-weight: bold;
		text-align: right;
	}
*/

.fisheye{
	text-align: center;
	height: 50px;
	position: relative;
}
a.fisheyeItem
{
	text-align: center;
	color: yellow;
	font-weight: bold;
	text-decoration: none;
	width: 40px;
	position: absolute;
	display: block;
	top: 0;
}
a.fisheyeItem2
{
	text-align: center;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	width: 40px;
	position: absolute;
	display: block;
	bottom: 0;
}
.fisheyeItem img
{
	border: none;
	margin: 0 auto 5px auto;
	width: 100%;
}
.fisheyeItem2 img
{
	border: none;
	margin: 5px auto 0 auto;
	width: 100%;
}
.fisheyeItem span,
.fisheyeItem2 span
{
	display: none;
	positon: absolute;
}
.fisheyeContainter
{
	background-color: black;
	height: 50px;
	width: 200px;
	left: 500px;
	position: absolute;
}
#fisheye2
{
	position: absolute;
	width: 100%;
	bottom: 0px;
}

/* This will remove the 'X' from the jQuery dialog */
/*.ui-dialog .ui-dialog-titlebar-close { display: none; }*/
/* This will gray the background while using the jQuery modal dialog */
.ui-dialog-overlay { background-color: gray; opacity: 0.5; filter: alpha(opacity = 50) }
/*
#dialog
{	margin: 1px;
}*/

a.rounded, .button {
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle; /* or top */
  display: -moz-inline-box;
  display: inline-block;
  overflow: visible; /* IE6 form button fix */ 
}
.button {
  color: #000;
  background-color: #acc;
  padding: 5px 7px;
}
.button:hover {
  background-color: #cee;
}

div#admin_panel
{
	position: absolute;
	top: 4px;
	left: 4px;
}

div#admin_panel button
{
	width: 100px;
	background-color: orange;
	color: green;
}
/*
button.editalerts
{
	position: absolute;
	top: 4px;
	left: 114px;
	width: 100px;
	background-color: orange;
	color: green;
}*/