
a{
    color: #ffff00;
}

p{
  text-align: left;
}

h3{
  text-align: left;
  font-size: x-large;
  color: #ffcc00;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.text_block span{
  font-size: medium;
  color: #ffff99;
}

.text_block > span:first-child{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: x-large;
  color: #ffcc00;
}

.right_panel .join_now_button{
  background-color: #314fdc;
  padding: 10px;
  width: 184px;
  margin: auto;
  border: 2px solid #0000FF;
/*
  -moz-border-radius: 0 0 15px 15px !important;
  border-radius: 0 0 15px 15px !important;*/
  margin-bottom: 6px;
}

.right_panel .join_now_button a{
  color:#FFFFFF;
  font-weight:bolder;
}

.right_panel{
  float: right;
  padding: 6px;
  background-color: #EBADAD;
  border: 2px solid #000000;
  -moz-border-radius: 25px !important;
  border-radius: 25px !important;
  margin: 6px 6px 6px 20px;
  color: #000000;
  width: 340px;
}

.right_panel .features{
  margin-top: 4px;
  padding: 4px;
}

.right_panel .features span{
  font-size: 16pt;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 4px;
  display: inline-block;
}

.right_panel .features div.summary{
  color: brown;
  margin: 0px 0px 0px 0px;
}

.right_panel .features div{
  margin: 0px 10px 10px 20px;
}