* 		{ padding: 0; margin: 0; color: #FFF; }
*, body	{ font-family: Trebuchet MS, Helvetica, Arial; font-size: 95%; }
body {
	/*background-color:		#222;*/
	background-color: #DDDDDD;
}

#pageWrap {
	width:					500px;
	background-color:		transparent;
	margin:					25px auto;
}

#pageBody {
	width:					100%;
}

div.hoverBtn {
	position: 		relative;
	float:			left;
	background:		black url(images/navBG.png) repeat-x 0 0 scroll;
	margin-right: 2px;
	margin-left: 2px;
	color:			#000;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
div.hoverBtn a {
	position: 		relative;
	z-index: 		2;
	display: 		block;
	height: 		20px;
	line-height: 		20px;
	text-align: 		center;
	font-size:		1.1em;
	text-decoration:	none;
	white-space: nowrap;
	color:			#000;
	background:		transparent none repeat-x 0 0 scroll;
}
div.hoverBtn div {
	display:		none;
	position: 		absolute;
	z-index: 		1;
	top: 			0px;
	background:		white url(images/navHover.png) repeat-x 0 0 scroll;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
h1 {
	font-size:		2.0em;
	margin:			0.5em 0;
}
p {
	padding-top:	10px;
	margin:			0.5em 0;
}

.clear	{ clear: both; }

html, body { height: 100%; margin-bottom: 1px; }
