.wm-dashboard-page{
	padding: 0 20px 0 0;
}

.wm-dashboard-page a{
	color: blue;
}

.wm-dashboard-page .wm-wrapper{
	display: table;
	border-spacing: 10px;
	width: 100%;
	margin: -8px;
}

.wm-dashboard-page .wm-wrapper .wm-heading{
	clear: both;
	display: table-row;
	font-size: 20px;
	color: #000099;
}

.wm-dashboard-page .wm-wrapper .wm-heading > div{
	display: table-cell;
	padding: 0 0 4px 0;
}

.wm-dashboard-page .wm-wrapper .wm-locations{
	margin: 10px;
	/*padding: 10px;*/
	/*border: 1px solid #aaccff;*/
	border: 1px solid #062134;
	/*border-radius: 10px;*/
	min-height: 170px;
	display: table-cell;
}

.wm-dashboard-page .wm-wrapper .wm-locations > div:first-child{
	/*background: #aaccff;*/
	background: #062134;
	/*border-radius: 10px 10px 0 0;*/
	border-radius: 0;
	margin: -1px -1px -1px -1px;
	/*color: #000099;*/
	color: #ffffff;
	font-size: 14pt;
	/*width: 100%;*/
	/*border: 1px solid #aaccff;*/
	border: 1px solid #062134;
	padding: 10px;
}

.wm-dashboard-page .wm-wrapper .wm-locations .wm-location-widgets{
	padding: 14px;
}

.wm-dashboard-page .wm-wrapper .widget{
	padding: 10px;
	border-radius: 4px;
}

.wm-dashboard-page .wm-wrapper .widget a.manage-link,
.wm-dashboard-page .wm-wrapper .widget a.live-menu-link{
	float: right;
	font-size: 12px;
    line-height: 24px;
    vertical-align: middle;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.wm-dashboard-page .wm-wrapper .widget > div{
	border-bottom: 1px solid #eeeeee;
}

.wm-dashboard-page .wm-wrapper .wm-locations .wm-location{
	margin-bottom: 8px;
	border-radius: 0;
	border-top: 1px solid #062134;
}

.wm-dashboard-page .wm-wrapper .wm-locations .wm-location:first-child{
	border-top: 0px;
}

.wm-dashboard-page .wm-wrapper .wm-locations .wm-location button{
	margin-right:6px;
	line-height:16px;
	padding:4px;
	font-family:Arial;
	height:29px;
	/*border-color: #6699CC;*/
	border-color: #C0C0C0;
	border-radius: 6px;
}
.wm-dashboard-page .wm-wrapper .wm-locations .wm-location button:hover{
	color: #3300FF;
}

.wm-dashboard-page .wm-wrapper .wm-locations .wm-location div:first-child > img{
	float: right;
}

.wm-dashboard-page .wm-wrapper .wm-locations .wm-location div:first-child div{
	font-size: 14px;
}

.wm-dashboard-page .wm-wrapper .wm-locations .wm-location div:first-child .wm-location-title a{
	font-size: 22px !important;
}

.wm-dashboard-page .wm-wrapper .wm-quickbar{
	margin: 10px;
	/*padding: 10px;*/
	/*border: 1px solid #aaccff;*/
	border: 1px solid #062134;
	border-radius: 0;
	min-height: 170px;
	width: 300px;
	display: table-cell;
	vertical-align: top;
}

.wm-dashboard-page .wm-wrapper .wm-quickbar > div:first-child{
	/*background: #aaccff;*/
	background: #062134;
	border-radius: 0;
	margin: -1px -1px -1px -1px;
	/*color: #000099;*/
	color: #ffffff;
	padding: 10px;
	font-size: 14pt;
	/*width: 100%;*/
	/*border: 1px solid #aaccff;*/
	border: 1px solid #062134;
}

.wm-dashboard-page .wm-wrapper .wm-quickbar .wm-quickbar-widgets{
	padding: 14px;
}

.wm-dashboard-page .wm-wrapper .wm-quickbar .wm-quickbar-widgets > div{
	margin-bottom: 20px;
	vertical-align: top;
}

.wm-dashboard-page .wm-wrapper .wm-quickbar .wm-quickbar-widgets > div h1{
	margin: 0 0 10px 0;
	color: #000000;
	font-size: 24px;
	border-bottom: 1px solid #000000;
}

.wm-dashboard-page .wm-wrapper .wm-quickbar .wm-quickbar-widgets > div div:first-child{
	display: inline;
	width:  100%;
	padding-right: 70px;
}

.wm-dashboard-page .wm-wrapper .wm-quickbar .wm-quickbar-widgets > div > div > a{
	float: right;
}