.wm-summary-page{
	min-width: 1000px;
	margin-right: 20px;
}
.wm-summary-page .wm-heading{
	font-weight: bold;
	font-size: 22px;
	color: #0088FF;
}
.wm-location-widget{
	width: 100%;
	float: left;
}
.wm-location-help{
}

.wm-theme-widget{
	width: 50%;
	float: left;
}
.wm-theme-help{
}

.wm-schedule-widget{
	width: 50%;
	float: left;
}
.wm-schedule-help{
}

.wm-summary-page .wm-page-widget{
	margin: 10px;
	padding: 20px;
	border: 1px solid #0088FF;
	border-radius: 10px;
	min-height: 170px;
}
.wm-summary-page .wm-help{
	/*border-radius: 10px;*/
	background-color: #ffffcc;
	border: 1px solid #0088FF;
	padding: 6px;
	/*margin: 0 0 20px;*/
	margin: -11px -21px 10px -21px;
	font-size: 10pt;
	font-family: Arial;
}
.wm-summary-page table td:first-child{
	padding-right: 75px;
}
.wm-summary-page table td:nth-child(2),
.wm-summary-page table td:nth-child(3),
.wm-summary-page table td:nth-child(4),
.wm-summary-page table td:nth-child(5){
	padding-right: 20px;
}
.wm-summary-page table td.separator{
	background-color: #dddddd;
	height: 1px;
}
.wm-summary-page table tr:last-child td.separator{
	height: 0px;
}
.wm-summary-page .wm-page-widget > div:first-child{
	background: #0088FF;
	margin: -22px -22px 10px -22px;
	border-radius: 10px 10px 0 0;
	color: #ffffff;
	padding: 0px 20px;
	font-size: 14pt;
	/*width: 100%;*/
	border: 2px solid #0088FF;
}
.wm-summary-page a{
	color: #0088FF;
	font-weight: normal;
}
.wm-summary-page .item-name{
	white-space: nowrap;
	font-size: 12pt;
	height: 28px;
}
.wm-summary-page .item-action{
	white-space: nowrap;
}
.wm-summary-page .button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF;
    padding: 2px 12px;
    text-decoration: none;
}