	#frame {
		width:95%;
		padding:10px;
		filter:shadow(color:gray, strength:10, direction:135);
		}
		
	#content {
		margin-top:1%;
		padding-bottom:10px;
		/*background:#FFFFCC;*/
		background:#A7ABFB;
		border:1px ridge #000;
		text-align:left;
		width:95%;
		min-height:225px;
		}
		
	#menufooter  {
		margin-bottom:20px;
		}
		
	#subtitle  {
		font:italic normal bolder 16pt Verdana;
		}
		
	#menusitelinks {
		font-size:12px;
		}
	
	.menus {
		border-left:10px solid #000; 
		border-bottom:1px solid #000;
		border-top:1px solid #000;
		border-right:1px solid #000;
		background:#fff;
		color:#000;
		padding:2px;
		margin-bottom:10px;
		text-align:left;
		font-size:14px;
		font-family: verdana;
		cursor: pointer;
		}
	
	#navbar {
		/*width:120px;*/
		padding:0px;
		margin-left:-4px;
		margin-right:20px;
		float:left;
		/*
		IE5x PC mis-implements the box model. Because of that we sometimes have
		to perform a little CSS trickery to get pixel-perfect display across browsers.
		The following bit of code was proposed by Tantek Celik, and it preys upon a CSS
		parsing bug in IE5x PC that will prematurly close a style rule when it runs
		into the string "\"}\"". After that string appears in a rule, then, we can override
		previously set attribute values and only browsers without the parse bug will
		recognize the new values. So any of the name-value pairs above this comment
		that we need to override for browsers with correct box-model implementations
		will be listed below.
		
		We use the voice-family property because it is likely to be used very infrequently,
		and where it is used it will be set on the body tag. So the second voice-family value 
		of "inherit" will override out bogus "\"}\"" value and allow the proper value to
		cascade down from the body tag.

		The style rule immediately following this rule offers another chance for CSS2
		aware browsers to pick up the values meant for correct box-model implementations.
		It uses a CSS2 selector that will be ignored by IE5x PC.
		
		Read more at http://www.glish.com/css/hacks.asp
		*/
		voice-family: "\"}\"";
		voice-family: inherit;
		}
	html>body #menu {
		margin-left:-4px;
		}
		
	p,h1,h2 {
		font:16px verdana;
		color: #202340;
		margin-top:0px;
		margin-bottom:10px;
		padding:0px 20px 0px 20px;
		}
		
	h2 {
		font-size:16px;
		padding-top:0px;
		margin-bottom:0px;
		}
		
	#header{
		font-size:24px;
		font-family: verdana;
		border-top:1px solid #000;
		border-bottom:1px solid #000;
		border-right:10px solid #000;
		border-left:10px solid #000;
		margin-top:10px;
		margin-bottom:10px;
		padding-left:10px;
		padding-right:10px;
		padding-top:1px;
		padding-bottom:1px;
		background-color: #FFFFFF;
		}
		
	#footer{
		font-size:14px;
		font-family: verdana;
		border-top:1px solid #000;
		border-bottom:1px solid #000;
		border-right:10px solid #000;
		border-left:10px solid #000;
		margin-top:25px;
		padding-left:10px;
		padding-right:10px;
		padding-top:1px;
		padding-bottom:1px;
		background-color: #FFFFFF;
		}

	body {
		/*background-color: #fc0;*/
		text-align : center;
		}
		
	a.sitelinksred { color:#c00; }
	a.sitelinksredorange { color:#f60; }
	a.sitelinksorange { color:#f90; }
	a.sitelinksyellow { color:#fc0; }
		
	a.anchor {
		font-size:10px;
		font-weight:normal;
		}
		
	p.anchor {
		text-align:right;
		}
	
	.links {
		margin-left:50px;
		margin-right:30px;
		}
	
	#layouts {
		font-size:14px;
		margin-left:10px;
		font-family: verdana;
		}
		
	div.hashlink {
		font:10px verdana;
		margin-left:10px;
		margin-right:10px;
		margin-top:10px;
		margin-bottom:10px;
	}
	
	div.heading1 {
		width:auto;
		font:20px verdana;
		color: #202340;
		margin-left:10px;
		margin-right:10px;
		margin-top:20px;
		margin-bottom:10px;
		font-weight: bold;
		/*padding-left:10px;
		padding-right:10px;
		padding-top:10px;
		padding-bottom:10px;*/
		}
		
	.big_list {
		font: 16px verdana;
		color: #202340;
		text-align: left;
		margin-left:150px;
		}
