
#timeline
{
	width: 100%;
}
#timeline td
{
	text-align: center;
}
#timeline .dest
{
	width: 10px;
	height: 10px;
	border: 2px solid black;
	background-color: #C0C0C0;
}
#timeline .cur
{
	width: 10px;
	height: 10px;
	border: 2px solid black;
	background-color: red;
}
#timeline hr
{
	height: 1px;
	border: 2px solid black;
	width: 100%;
	background-color: black;
}
.error
{
	color: red;
	font-weight: bold;
	margin-left: 4px;
	background-color: #E3D7D7;
	margin-bottom: 2px;
}

.form_data
{
	font: 12pt verdana;
	color: gray;
}
#input_params
{
	/*width: 400px;*/
}
#input_params input
{
	width: 200px;
	text-align: left;
}
#input_params th
{
	text-align: left;
	font-weight: bolder;
	font: 16pt verdana;
	background-color: #E3D7D7;
}
#input_params td
{
	text-align: left;
	font-weight: bold;
	font: 12pt verdana;
}