body
{
	/*background-color: #E3D7D7;*/
	/*color: #FFFFFF;*/
	font: 12pt Tahoma;
}
#timeline
{
	color: #000000;
}
#eula
{
	/*color: #C0C0C0;*/
	font: 12pt Tahoma;
}
#frame
{
	padding:1px;
	/*filter:shadow(color:gray, strength:12, direction:135);*/
}
#timeline
{
	width: 100%;
}
#timeline td
{
	text-align: center;
}
#timeline .dest
{
	width: 10px;
	height: 10px;
	border: 2px solid black;
	background-color: #C0C0C0;
}
#timeline .cur
{
	width: 10px;
	height: 10px;
	border: 2px solid black;
	background-color: red;
}
#timeline hr
{
	height: 1px;
	border: 2px solid black;
	width: 100%;
	background-color: black;
}
.error
{
	color: red;
	font-weight: bold;
	margin-left: 4px;
	margin-bottom: 2px;
	text-align: left;
}

button
{
	border: 1px solid black;
}

.form_data
{
	font: 12pt verdana;
	/*color: #ffcc00;*/
}
#input_params
{
	/*width: 400px;
	padding: 22px;
	border: 2px solid black;
	background-color: #EBEBFF;
	margin-bottom: 8px;*/
	padding: 12px;
}
#input_params input
{
	text-align: left;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px;
	background:#eeeeee;
	font-size: 16px;
	margin: 2px 0;
}
#input_params select{
	width: 100%;
	margin: 2px 0;
	height: 32px;
}
#input_params th.title
{
	color: brown;
	text-align: left;
	font: 16pt verdana;
	background-color: #E3D7D7;
}
#input_params th
{
	text-align: left;
	font: 12pt verdana;
	white-space: nowrap;
	color: brown;
	font-family: Arial,Helvetica,sans-serif;
}
#input_params td
{
	text-align: left;
	font: bold 12pt Tahoma;
	color: #000000;
}
.inner span
{
	text-align: left;
	font: 12pt verdana;
	white-space: nowrap;
	color: brown;
}
h2
{
	font: 18pt verdana;
	color: brown;
	font-weight: bolder;
}
#eula
{
	color: #000000;
}
#eula a
{
	color: blue;
}
input[type="button"], input[type="submit"]
{
	/*background-color: #8385D3;
	color: white;
	border: 2px outset black;
	width: 120px;*/
	background-color: #8385D3;
	padding: 4px;
	font-size: 16px;
	font-weight: 400;
	color: white;
	border-radius: 5px;
	margin: 0 5px;
}
input[type="button"]:hover, input[type="submit"]:hover
{
	/*color: brown;
	border: 2px outset black;
	width: 120px;*/
}
/*div.inner
{
	margin: 0;
	background: #EBEBFF;
	padding: 10px;
	border:0;
	zoom:1;
}*/
div.outer
{
	float: center;
	margin: 15px;
	/*background: #C52D54;*/
	/*background: #E3D7D7;*/
	/*background: #e9e0a4;*/
	background: #ffffff;
	padding: 16px;
	width: 560px;
	/*border-right: 2px solid black;*/
	/*border: 8px solid #C52D54;*/
}

.outer {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#000000');
}

.ui-widget-overlay {
    /*background: black;*/
    filter: alpha(opacity=70);
    opacity: .7;
    position: fixed !important; /* <---------- */
    top: 0;          /* <---------- */
    left: 0;         /* <---------- */
}
