body 
{
    font: 11pt verdana;
    color: #FAEBDE;
    background: #F9DFC7;
    /*margin: 24px;*/
    padding-top: 14px;
    margin: auto;
    max-width: 1000px;
}

div.page_title span
{
    font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;
    color: #2C190A;
    font-weight: bold;
}
div.page_title span.left
{
	font-size: 36pt;
	margin-right: 3px;
}
div.page_title span.middle
{
	font-size: 20pt;
	position: absolute;
	top: 12px;
}
div.page_title span.right
{
	font-size: 36pt;
	margin-left: 32px;
}

div.sub-title
{
	font-size: 22pt;
	float:right;
	margin-top:10px;
	margin-right: 30px;
}

div#header
{
    top: 0px;
    height: 66px;
    margin-bottom: 0px;
    background: #F99C49;/* url(images/top.png) no-repeat scroll 0px 0px;*/
    padding: 0px 0px 0px 0px;
    border-top: 2px solid #262626;/*#F99C49;*/
    border-right: 2px solid #262626;
    border-left: 2px solid #262626;
    /*border-bottom: 2px solid #F99C49;*/
}

div.service_heading
{
    /*background: #F99C49;*/
    padding-top: 7px;
    background: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
}

div.service_heading img
{
    width: 60px;
    float: left !important;
    margin: 0px 5px 0px 0px;
}

#title_right
{
    padding: 10px 10px 10px 10px;
}

div#navbar
{
    /*margin: 6px;*/
    /*position: absolute;*/
    float: left;
    width: 144px;
    left: 24px;
    /*background: #F99C49;*/
    background: #F99C49;/* url(images/side-bar.png) repeat scroll 0px 0px;*/
    padding: 10px 10px 10px 10px;

}

div.heading1
{
    font-weight: bold;
    font-size: large;
}

div.heading2
{
    font-weight: bold;
    font-size: medium;
}

div#title-right
{
    /*width:50%;*/
    height:65px;
    /*width:100%;*/
    /*margin-left: 154px;
    margin-right: -180px;*/
    position:relative;
    float:right;
    padding: 4px 4px 4px 4px;
    /*border-right: 7px solid #F99C49;*/
    /*border-left-width: 0px;
    border-bottom-width: 0px;*/
}

div#title
{
    /*margin: 4px 4px 4px 4px;*/
    top: 2px;
    left: 10px;
    position: relative;
    /*width: 500px;*/
    width: 100%;
    height: 64px;
}

div#title h2
{
    font-size: 20pt;
    font-family: "Comic Sans MS", cursive, sans-serif
    text-decoration: underline;
    color: #2C190A;
    margin-top: 1px;
    margin-bottom: 1px;
}

div#title h4
{
    font: 11pt Lucida Console;
    color: #2C190A;
    margin-top: 1px;
    margin-bottom: 0px;
}

div#navbar div
{
    background: #888888;
    border: 1px solid #000000;
    margin: 3px;
    width: 134px;
}

div#navbar a
{
    font: 14pt verdana;
    color: #111111;
    text-decoration: none;
}

div#content
{
    padding: 10px 10px 30px 10px;/*175px;*/
   /* background: #DBAC88;*/
    background: #FDD4AF;
    border: 2px solid #262626;/*#F99C49;*/
    border-top-width: 0px;
    /*border-bottom-width: 0px;*/
    /*border-bottom: 2px solid #262626;/*#F99C49;*/
    color: #2C190A;
}

div#content img
{
    padding: 0px 0px 8px 8px;
    float: right;
}

div#footer
{
    margin: 6px;
    width: 100%;
    height: 50px;
}

div#footer a
{
    color: #262626;
    font: 11pt Verdana;
}

hr
{
    background-color: #FF8800;
    height: 1px;
}