.home-header{
	background-color: #990033;
	color: #000000;
	padding: 30px;
	position: absolute;
	left: 0;
	right: 0;
    border-color: #000099;
    border-style: solid;
    border-width: 4px 0;

}
.home-header > div{
    width: 952px;
    margin: auto;
}
.home-header > div > h3{
    margin-top: 10px !important;
    margin: auto;
}
.home-header h1{
    color: #99FFFF;
    font-family: arial;
    font-size: 28px;
    font-weight: 800;
    text-rendering: optimizelegibility;
}
.home-header p{
	margin: 10px;
	font-size: 18px;
	font-weight: 400;
	text-rendering: optimizelegibility;
	font-family: "Source Sans Pro","Helvetica Neue","Lucida Grande",sans-serif;
	text-align: center;
	color: #FFFFFF;
}
.home-header p button{
    background-color: #FFFFFF;
    border-radius: 15px;
    color: #000099;
    font-family: courier;
    font-size: 24px;
    font-weight: 600;
    padding: 6px;
    text-rendering: optimizelegibility;
    margin: 10px 10px 0 10px;
    cursor: pointer;
}
.home-header ul{
	font-size: 14px;
	font-weight: 400;
	text-rendering: optimizelegibility;
	font-family: "Source Sans Pro","Helvetica Neue","Lucida Grande",sans-serif;
	text-align: left;
	color: #99FFFF;
	list-style-type: square;
}

#service_boxes
{
  background-color: #C0FFFF;
  border: 2px solid #000000;
  -moz-border-radius: 25px !important;
  border-radius: 25px !important;
  margin-bottom: 6px;
}
#service_boxes .service_box
{
    float: left;
    height: 210px;
    width: 292px;
    margin-right: 4px;
    text-align: center;
    padding: 4px;
    padding-top: 44px;
    color: brown;
    background-color: #EBADAD;
    background: url(../w3/images/cloud.med2.png) no-repeat;
}

#service_boxes .text_box
{
    text-align: left;
    cursor: default;
    width: 210px;
    padding: 6px 0px 6px 0px;
    margin-left: 56px;
}
.service_box img
{
    border: 0px solid #000000;
    width: 98px;
}
#banner_box{
  margin: 0px;
}

ul.item_list {
    margin: 20px;
    padding: 0px;
}
ul.item_list li{
    list-style-type: none;
    margin: 0.3em 0 0 0;
    padding-left: 50px;
    height: 50px;
    padding-top:10px;
    background-image: url(../w3/images/check48.png);
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 14pt;
    text-align: left;
}

.full_panel .join_now_button{
  background-color: #314fdc;
  padding: 10px;
  width: 184px;
  margin: auto;
  border: 2px solid #0000FF;
  margin-bottom: 6px;
}

.full_panel .join_now_button a{
  color:#FFFFFF;
  font-weight:bolder;
}

.full_panel{
  color: #000000;
  margin-top: 390px;
}

.full_panel .features{
  margin-top: 4px;
  padding: 4px;
  font-weight: Tahoma;
}

.full_panel .features > img{
	float: left;
	margin-top: 40px;
}

.full_panel .features span{
  font-size: 16pt;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 4px;
  display: inline-block;
}

.full_panel .features .feature div.summary{
  color: #ffffff;
  margin: 0px 0px 0px 20px;
  font-weight: 800;
  font-size: 16pt;
}

.full_panel .features .feature img.summary{
	float: right;
	width: 200px;
	margin: 10px;
	border: 2px solid #000000;
	-moz-border-radius: 25px !important;
	border-radius: 25px !important;
}

.full_panel .features .feature img.summary_left{
	float: left;
	width: 200px;
	margin: 10px;
	border: 2px solid #000000;
	-moz-border-radius: 25px !important;
	border-radius: 25px !important;
}

.full_panel .features .feature .details{
	font-size:12pt;
	color: #FFFFFF;
	padding: 20px 20px 0 100px;
	font-weight: 600;
	width: 650px;
}

.take-orders{
	background-image: url(../w3/images/smartphone-325482_640.jpg);
	background-size: 1000px;
	background-color: transparent;
	padding-bottom: 50px !important;
	background-color: rgba(255,255,255,0.5);
	height: 120px;
	
	border: 2px solid #000000;
	-moz-border-radius: 25px !important;
	border-radius: 25px !important;
	
    filter: alpha(opacity=40);  
    -moz-opacity: 0.4;  
    -khtml-opacity: 0.4;  
    opacity: 0.4;
}
.take-orders + .feature{
	font-size:12pt;
	color: #FFFFFF;
	padding: 20px 20px 0 140px;
	font-weight: 600;
	position: relative;
	top: -180px;
	margin-bottom: -140px !important;
}
.menu-management{
	background-image: url(../w3/images/menu-from-chinese-restaurant-600x400.jpg);
	background-size: 1000px;
	background-color: transparent;
	background-position: right middle;
	padding-bottom: 50px !important;
	height: 120px;
	
	border: 2px solid #000000;
	-moz-border-radius: 25px !important;
	border-radius: 25px !important;
	
    filter: alpha(opacity=40);  
    -moz-opacity: 0.4;  
    -khtml-opacity: 0.4;  
    opacity: 0.4;
}
.menu-management + .feature{
	font-size:12pt;
	color: #FFFFFF;
	padding: 20px 20px 0 140px;
	font-weight: 600;
	position: relative;
	top: -180px;
	margin-bottom: -140px !important;
}
.scheduling{
	background-image: url(../w3/images/clock22.jpg);
	background-size: 1000px;
	background-color: transparent;
	padding-bottom: 50px !important;
	height: 120px;
	
	border: 2px solid #000000;
	-moz-border-radius: 25px !important;
	border-radius: 25px !important;
	
    filter: alpha(opacity=40);  
    -moz-opacity: 0.4;  
    -khtml-opacity: 0.4;  
    opacity: 0.4;
}
.scheduling + .feature{
	font-size:12pt;
	color: #FFFFFF;
	padding: 20px 20px 0 140px;
	font-weight: 600;
	position: relative;
	top: -180px;
	margin-bottom: -140px !important;
}

.full_panel .features div.feature{
  padding: 10px;
  margin: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  margin: 10px 10px 10px 100px;
  height: 120px;
}