/*
a::link
{
	color: darkblue;
	text-decoration: none;
}
a::visited
{
	color: darkblue;
	text-decoration: none;
}
a::hover
{
	color: darkblue;
}
*/

#menuBody
{
	text-align: center;
	background-image: url(../images/bg2.jpg);
}
#frame
{
	width:100%;
	height:100%;
	background-color: #F5F6B6;
	position: relative;
	/*background-image: url(../images/mrg_inside_08_full.jpg);*/
	margin: 0 auto;
	text-align: left;
}
#menuHeader
{
	/*background-image: url(../images/header.png);*/
	background-repeat: no-repeat;
	background-color: white;
	padding:0px 4px 0px 4px;
	/*height: 95px;*/
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 4px;
	border-bottom: 2px solid black;
}
#menuFooter
{
	/*padding: 5px;*/
}
#menuTree
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	background-color: #F5F6B6;
}
#menuMenu
{
	/*padding: 5px;*/
}
#menuContent
{
	/*border: 1px solid silver;*/
	color: black;
	padding: 4px;
	/*position: absolute;*/
	background-color: #F5F6B6;
	filter:shadow(color:gray, strength:10, direction:135);
	/*top: 0px;
	right: 0px;*/
	/*width: 100%;*/
	/*height: 100%;
	overflow-y: scroll;*/
}

.patronLoginTitle
{
	font: normal bolder 16pt Arial;
	color: navy;
	/*text-align: left;*/
}

.patronLoginLabel
{
	font: normal bolder 9pt Arial;
	color: brown;
}

.pageSeperator
{
	width:100%;
}

.pageSeperator hr
{
	background-color:red;
	height:4px;
}

.pageSeperator span
{
	color: red;
	font: 12pt arial;
	font-weight: bold;
}

.menuItemContainter
{
	text-align: left;
}

.menuTitle
{
	font: normal bolder 24pt Candara;
	color: black;
	text-align: left;
	width: 100%;
}
.menuItem
{
	text-align: left;
}
.categoryTitle
{
	font: normal 16pt Verdana;
	color: white;
	text-align: center;
	width: 100%;
	background-color: black;
}
.menuItemTitle
{
	font: normal 14pt Verdana;
	color: brown;
	/*font-weight: bold;*/
	text-align: left;
	width: 100%;
}
.menuButton
{
	font: normal 9pt Verdana;
	color: blue;
}
.menuItemDesc
{
	font: normal 10pt Verdana;
	color: black;
	/*font-weight: bold;*/
	text-align: left;
	width: 100%;
}
.menuItemPrices
{
	font: normal 9pt Verdana;
	color: brown;
}
.menuOptions
{
	border-top: 1px solid chocolate;
	font: normal 8pt Verdana;
	color: chocolate;
	text-align: left;
	width: 100%;
}

/*
	STYLES for menuitemview.jsp
*/
.ItemTitle
{
	font: normal 16pt Arial;
}
.ItemDesc
{
	font: normal 12pt Arial;
}
#itemOptionsTable
{
	width: 100%;
}
#itemOptionsTable th
{
	font: normal 12pt Arial;
	text-align: left;
}
#itemOptionsTable td
{
	font: normal 12pt Verdana;
	border: 1px solid #F5F6B6;
}
.OptionsTitle
{
	font: normal 12pt Arial;
	background-color: gray;
	color: white;
	text-align: center;
}
#itemTable
{
	color: black;
	width: 100%;
}
#itemTable th
{
	font: normal 12pt Arial;
}
#itemTable td
{
	font: normal 12pt Arial;
	border: 1px solid black;
	text-align: right;
}

.enabled_yes
{
	background-color: #F5F6B6;
	border: 1px groove;
	/*font-size: 9px;*/
}

.enabled_no
{
	background-color: lightgrey;/*#CCCDFE;*/
	border: 1px groove;
	/*font-size: 9px;*/
}

/*
	Dojo - Dijit overrides
*/

.tundra .dijitTreeNode{
      background-color: #F5F6B6 !important;
}
.tundra .dijitTreeNodeHover {
	background-color: #D1D313 !important;
}
.tundra .dijitSplitContainer-dijitContentPane,
.tundra .dijitBorderContainer-dijitContentPane {
    border: 1px #ccc solid;
    background-color: #F5F6B6;
    padding: 5px;
}